################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uShop/.vs/uShop/v17
