################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uShop/.vs/uShop/v17
/uShop/obj
/uShop/bin/Debug/net6.0
/uShop/.vs/uShop/config
