@*@model Product

<ul class="leftMenu">
    @foreach (string prop in Model)
    {
        <li>
            <div class="form-check">

                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label" for="flexCheckDefault">
                    @prop
                </label>
            </div>
        </li>
    }
</ul>*@